# NOTEBOOK 1: Python Basics


## Variables
---
In Python, a variable is just a named container that holds a value. Each variable name must be unique.
Consider two variables, `a` and `b`, to which we assign any numeric values we like for example, `a = 1`. 
Here, the `=` symbol does not mean "equal to" as in mathematics instead, it instructs Python to store the value on the right-hand side in the variable on the left. This makes it easy to reuse that value later.

To manipulate variables, Python offers operators. These symbols let us combine or transform stored values. For instance, we can create a new variable named `addition` defined as the sum of `a` and `b`, and another called `exponentiation` that raises `a` to the power of `b`.

In [10]:
a = 3
b = 5

addition = a + b
exponentiation = a ** b

addition, exponentiation # Returns a tuple with the results

(8, 243)

The `#` indicates a comment. In a Jupyter-Notebook the execution order matters

In [11]:
b = 30
b, addition, exponentiation

(30, 8, 243)

In [12]:
addition = a + b
exponentiation = a ** b

addition, exponentiation

(33, 205891132094649)

## Operators
---
Besides the arithmetic operators `+, -, *, /, **` there are additional operators like:

The comparison operator `==` compares if two values are equal.

In [13]:
b = 3
a == b # Returns a boolean value

True

`<, >` are the less and greater operators

In [14]:
b = 30
a < b, a > b # Returns a boolean value

(True, False)

`<=, >=` are the less-equal and greater-equal operators

In [15]:
b = 3
a <= b, a >= b # Returns a boolean value

(True, True)

`//` is the floor division operator which divides the two numbers and rounds the result down to the nearest whole number

In [16]:
a // b

1

`%` is the modulo oparator which returns the remainder of dividing two numbers

In [17]:
a = 10
b = 4

a % b

2

For the complete list of all python operators visit https://www.w3schools.com/python/python_operators.asp

## Data types
---
In python there are different types of data like
- Numeric data types: `int, float, complex`
- String data type: `str`
- Sequence types: `list, tuple, range`
- Mapping data type: `dict`
- Boolean type: `bool`
- Set data types: `set, frozenset`
- Binary types: `bytes, bytearray, memoryview`

### Numeric data types

In [18]:
a = 1 
b = 1.0 
c = 1 + 1j

The builtin function `type` returns the assigned data type of the variable

In [19]:
type(a), type(b), type(c)

(int, float, complex)

In Python (and almost every other mainstream language), the float type follows the IEEE-754 binary64 specification ("double precision").
This has the "downside" that some numbers have no exact binary representation

In [20]:
.1 + .1 + .1 == .3

False

Just like 1/3 is 0.333... in decimal and can't be stored exactly, 0.1 is 0.000110011001100... in binary in which the pattern repeats forever

### Strings
Strings (sequence of characters) are surrounded by either single quotation marks, or double quotation marks

In [21]:
a = 'Hello World'
b = "Hello World"

a == b

True

A multiline string is surrounded by using three quotes `"""`

In [22]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

a

'Lorem ipsum dolor sit amet,\nconsectetur adipiscing elit,\nsed do eiusmod tempor incididunt\nut labore et dolore magna aliqua.'

The `\n` is a so called escape chracter which introduces a new line

### List
A `list` is a collection of data of potential different data types which is mutable (changeable)

In [23]:
l = [1, 1.0, 1 + 1j, "Hello World", [1, 2, 3]]
l

[1, 1.0, (1+1j), 'Hello World', [1, 2, 3]]

The data can be changed by indexing the item (starting from 0)

In [24]:
l[0] = 2
l[-1] = [4, 5, 6]
l

[2, 1.0, (1+1j), 'Hello World', [4, 5, 6]]

The length of a the list `x` can be computed with the `len(x)`

In [25]:
len(l)

5

For the list data type usefull methods are implemented like `append()`, `insert()`, `pop()`, `remove()` and `clear()`.

`append(m)` adds the new data `m` to the list

In [26]:
l.append("New data") 
l

[2, 1.0, (1+1j), 'Hello World', [4, 5, 6], 'New data']

`pop(n)` removes the elementa at index `n`

In [27]:
l.pop(3)
l

[2, 1.0, (1+1j), [4, 5, 6], 'New data']

`insert(n, m)` places at index `n` the data `m`. The existing data is thereby shifted.

In [28]:
l.insert(3, 1.0)
l

[2, 1.0, (1+1j), 1.0, [4, 5, 6], 'New data']

The `remove(n)` method removes the first matching with element `n` from the list.

In [29]:
l.remove(1.0)
l

[2, (1+1j), 1.0, [4, 5, 6], 'New data']

To remove a certain element by its index the `del` keyword is used

In [30]:
del l[0] # Removes the first element of the list
l

[(1+1j), 1.0, [4, 5, 6], 'New data']

The `clear()` method removes all elements from the list

In [31]:
l.clear()
l

[]

Mutable means that the stored data can be changed after assignment

### Tuple
A `tuple` is a collection of data of potential different data types which is immutable

In [32]:
t = (1, 1.0, 1 + 1j, "Hello World", [1, 2, 3])
t

(1, 1.0, (1+1j), 'Hello World', [1, 2, 3])

Re-assignment is not possible

In [33]:
# t[0] = 2 # Tuples are immutable, this will raise an error

### Mapping data type
A `dict` is a collection of data of potential different data types in the from of key-value pairs

In [34]:
d = {'a': 1, 'b': 2.0, 'c': 1 + 1j, 'd': "Hello World", 'e': [1, 2, 3]}
d

{'a': 1, 'b': 2.0, 'c': (1+1j), 'd': 'Hello World', 'e': [1, 2, 3]}

The data is mutable and is indexed by the key

In [35]:
d['a'] = 2 # Change the value of the key 'a'
d

{'a': 2, 'b': 2.0, 'c': (1+1j), 'd': 'Hello World', 'e': [1, 2, 3]}

A key-value pair can also be completly deleted

In [36]:
del d['b']
d

{'a': 2, 'c': (1+1j), 'd': 'Hello World', 'e': [1, 2, 3]}

The `dict` has similiar methods implemented as in `list` and can be found at https://www.w3schools.com/python/python_dictionaries_methods.asp

### Boolean type
Booleans represent one of two values: `True` or `False`

In [37]:
a = 2 
b = 20

a < b

True

Almost any value is evaluated to True if it has some sort of content.
Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones.

In [38]:
bool(1), bool(0), bool(-1), bool(0.0), bool(0.1), bool(0 + 0j), bool(""), bool("Hello World"), bool([]), bool([1, 2, 3]), bool(()), bool({})

(True, False, True, False, True, False, False, True, False, True, False, False)

`isinstance(x, y)` is used to check if th variable `x` is of a certain datatype `y`

In [39]:
isinstance(a, int)

True

## Conditionals
---
### if-else
`if-else` statements conduct conditional decisions. The statement must evaluate to a boolean. Code which should be executed if the statement evaluates to true must be indented using a `tab` or `spaces`.

In [40]:
temperature = 25

if temperature > 30:
    print("It's hot outside!")
elif temperature > 20:
    print("It's warm outside.")
else:
    print("It's cold outside.")

It's warm outside.

Everything that evaluates to a boolean using `bool(x)` can be used as a statement

In [41]:
temperature_readings = [25, 30, 28, 22, 18]

if temperature_readings:
    print("Temperature readings are available.")
else:
    print("No temperature reading available.")

Temperature readings are available.

Also logic operations can be performed using `and`, `or`, `is` and `not`

In [42]:
a = True
b = False
c = True

if (a and b) is not c: # Acts like a XOR
    print("Condition met!")
else:
    print("Condition not met!")

Condition met!

### Pattern matching
The `match-case` statement allows pattern matching

In [43]:
# TODO: Create a match statement to print the name of the day based on the number (1-7)
day = 1
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Invalid day number") # The underscore `_` acts as a wildcard, matching any value not previously matched.

Monday

In [44]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:

21

## Loops
---
Python has two primitive loop commands `while` and `for` loops
### while loop

In [45]:
# TODO: Create a while loop that prints the numbers from 1 to 5
i = 1
while i < 6:
    print(i)
    i = i + 1
    # i += 1

1
2
3
4
5

With the `break` statement the loop cen be stopped even if the while condition is true

In [46]:
# TODO: Add a break statement to stop the loop when i equals 3
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the `continue` statement the current iteration can be stopped and the loop continues with the next iteration

In [47]:
# TODO: Add a continue statement to skip the iteration when i equals 3 and end the loop when i equals 5
i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5

With the `else` statement a block of code is run once when the condition no longer is true

In [48]:
i = 1
while i < 6:
  print(i)
  i += 1
  # break
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### for loop
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary or a string).

In [49]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Even strings are iterable objects, they contain a sequence of characters

In [50]:
for x in "banana":
  print(x)

b
a
n
a
n
a

To loop through a set of code a specified number of times, the `range()`function can be used.
The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number (but not including the specified number).

In [51]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6)

In [52]:
for x in range(2, 6):
  print(x)

2
3
4
5

The `range()` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

In [53]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop"

In [54]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The `continue`, `break` and `else` statements work the same is in the `while` loops

## Functions
---
In Python a function is defined using the `def` keyword:

In [55]:
def my_function():
  print("Hello from a function")

To call a function, use the function name followed by parenthesis:

In [56]:
my_function()

Hello from a function

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses.
Any number of arguments can be used.

In [57]:
def my_function(fname):
  print("Hallo " + fname + "!")

my_function("Anna")
my_function("Lena")
my_function("Florian")

Hallo Anna!
Hallo Lena!
Hallo Florian!

Default arguments can be defined.

In [58]:
def my_function(country = "Austria"):
  print("I am from " + country)

my_function("Germany")
my_function()

I am from Germany
I am from Austria

To return a a value from the function, the `return` statement ist used

In [59]:
def my_function(x):
  return 5 * x

my_function(3)

15

## Exercise
---
Write a **function** called `find_multiples(numbers, n)` that:

1. Takes two inputs:
   - `numbers`: a **list of integers**
   - `n`: an **integer** to check for multiples

1. Returns a **tuple** containing:
   - The list of multiples
   - The sum of the multiples

In [60]:
def find_multiples(numbers: list[int], n: int) -> tuple[list[int], int]:
   multiples: list[int] = []
   total = 0
   for num in numbers:
      if num % n == 0:
         multiples.append(num)
         total += num
   return multiples, total

In [61]:
assert find_multiples([1, 2, 3, 4, 5], 2) == ([2, 4], 6), "Test case 1 failed"
assert find_multiples([10, 20, 30], 10) == ([10, 20, 30], 60), "Test case 2 failed"
assert find_multiples([1, 3, 7, 9], 2) == ([], 0), "Test case 3 failed"
assert find_multiples([], 3) == ([], 0), "Test case 4 failed"